[submodule "media/script/lib/chickoojs"]
	path = media/script/lib/chickoojs
	url = git://github.com/yesudeep/chickoojs.git
[submodule "app/tornado"]
	path = app/tornado
	url = git://github.com/facebook/tornado.git
[submodule "app/gaeutilities"]
	path = app/gaeutilities
	url = git://github.com/joerussbowman/gaeutilities.git
[submodule "app/aeoid"]
	path = app/aeoid
	url = git://github.com/Arachnid/aeoid.git
[submodule "app/aetycoon"]
	path = app/aetycoon
	url = git://github.com/Arachnid/aetycoon.git
