@import awesome-form.sass
@import awesome-button.sass
@import openid.sass
@import prettyPhoto.sass
@import accordion.sass

@import base.sass

//align nav icons
=align-nav-icon()
    :display block
    :width 50px
    :height 50px

//awesome-tab missing mixins    
=border-top-right-radius(!radius)
    -moz-border-radius-topright= !radius
    -webkit-border-top-right-radius= !radius

=border-top-left-radius(!radius)
    -moz-border-radius-topleft= !radius
    -webkit-border-top-left-radius= !radius

=border-bottom-left-radius(!radius)
    -moz-border-radius-bottomleft= !radius
    -webkit-border-bottom-left-radius= !radius

=border-bottom-right-radius(!radius)
    -moz-border-radius-bottomright= !radius
    -webkit-border-bottom-right-radius= !radius
    
body
    :background= "transparent" !image_background "scroll repeat-x 0 0"
    :line-height 1.4
    :font-family= !font_stack_georgia

body#admin-body
    :background= "transparent" !image_admin_background "scroll repeat-x 0 0"
    :line-height 1.4
    :font-family= !font_stack_georgia
a
    :color= !color_link
    :text-decoration none
    &:hover, &:visited:hover
        :color= !color_link_hover

        
blockquote
    :font-size 1.6em
    :font-style italic
    :padding 10px 30px 0px
    :color = !color_blockquote
    :line-height 1.5em
        
h1
    :font-family= !font_stack_myriad_pro
    :font-size 2.4em
    :color= !color_title
    :letter-spacing -0.03em
    :line-height 1.1
    strong
        :font-family= !font_stack_georgia
        :font-size 0.7em
        :font-style italic
        :color= !color_subtitle
        :display block

h2
    :font-family= !font_stack_myriad_pro
    :line-height 1.4
    :font-size 1.6em
    :margin-bottom 0.2em


h3
    :font-family= !font_stack_myriad_pro
    :font-size 1.1em
    :font-weight bold
    :color= !color_heading
    :margin-botton 0.2em


p
    :color= !color_light_body_text
    :line-height 1.4
    :margin-bottom 1em

form.decorated-fields
    :font-family= !font_family_sans_serif
    :font-size 0.9em
    input[type="text"]
        :width 220px
    span.prefix
        :font-weight bold
        :color #555
        em
            :font-weight normal
            :color #666
    label
        :font-family= !font_family_sans_serif
    legend
        :font-family= !font_stack_myriad_pro
        :font-size 1.4em
        :padding-left 210px
        :color= !color_awesome_magenta
    fieldset
        :margin-top 1.4em

a.signin
    :display block

.title .icon.logo
    :display block
    :background= "transparent" !image_icon_logo "scroll no-repeat 0 0"
    :float left
    :margin-right 0.5em
    :margin-left 0.5em
    :width 80px
    :height 80px

.icon
    :display block
.icon.size-20x20
    :width 20px
    :height 20px
    :background= "transparent" !image_icons_20x20 "scroll no-repeat 0 0"
.icon.size-20x20.about
    :background-position= -(20px * 0) 0
.icon.size-20x20.logo
    :background-position= -(20px * 1) 0
.icon.size-20x20.picture
    :background-position= -(20px * 2) 0
.icon.size-20x20.video
    :background-position= -(20px * 3) 0
//.icon.size-128x128
    :width 128px
    :height 128px
    :background= "transparent" !image_icons_128x128 "scroll no-repeat 0 0"
//.icon.size-128x128.calendar
    :background-position= -(128px * 0) 0
//.icon.size-128x128.search-user
    :background-position= -(128px * 1) 0
//.icon.size-128x128.write-blog
    :background-position= -(128px * 2) 0
//.icon.size-128x128.suitcase
    :background-position= -(128px * 3) 0
.icon.size-64x64
    :width 64px
    :height 64px
    :background= "transparent" !image_icons_64x64 "scroll no-repeat 0 0"
.icon.size-64x64.calendar
    :background-position= -(64px * 0) 0
.icon.size-64x64.search-user
    :background-position= -(64px * 1) 0
.icon.size-64x64.write-blog
    :background-position= -(64px * 2) 0
.icon.size-64x64.suitcase
    :background-position= -(64px * 3) 0

.content-box
    +box-shadow("0 0 3px #888")
    +border-radius("5px")
    :background-color rgba(255,255,255,0.8)
    :padding 2.4em 1.4em

#presentation
    :clear both
    :margin-top 2em
    #presentation-content
        :background= "transparent" !image_presentation_box "scroll no-repeat 0 0"
        +grid(8, 12)
        ul.panes
            :height 340px
            li
                :position relative
                :z-index 40
                //:background-color rgba(255,255,255,0.5)
                :padding 30px 40px
                :display none
                //:border 10px solid rgba(0,0,0,0.5)
    #presentation-sidebar
        +grid(4, 12)
        ul.tabs
            :margin-left -30px
            li
                :font-family= !font_stack_myriad_pro
                a
                    :background-color rgba(255,255,255,0.5)
                    :display block
                    :padding 0.7em 1em
                    :text-decoration none
                    :color black
                    span.icon
                        :float left
                        :margin-right 0.5em
                a:hover, a:visited:hover
                    :text-decoration none
                    :background-color #859eaa
                    :color white
                a.current, a.current:hover, a.current:visited:hover
                    :color white
                    :background-color #556e7a

h1.page-title
    :font-weight normal
    :font-size 2.6em
    :letter-spacing -0.03em
    :padding-top 15px
    :color = !color_page_title
    :clear both
    :line-height 1.5
    
h2.page-subtitle
    :font-size 1.4em
    :color = !color_page_subtitle
    :line-height 1.5


.courtesy
    :font-style italic
    :font-size 0.8em
    :color #555
    
#trunk-content, #footer-content
    +grid-container()


#header, #trunk, #footer
    :clear both

#header
    :min-height 20px

#footer
    :padding-top 40px
    :display block

#footer-content
    :font-size 0.9em
    :color= !color_footer_content

// Landing page
#feature-list
    :clear both
    :margin-top 1em
    li
        :text-align center
        :font-size 0.9em
        :color= !color_light_body_text
        +grid(3, 12)
        span.icon
            :margin 0px auto
    li:first-child
        +alpha
    li:last-child
        +omega

#alumni-name
    :clear both
    :padding-top 50px
    >h3
        :margin-top -1em

#fieldset_personal, #fieldset_work_profile, #fieldset_mailing_address
    :display none
    
    
// Nav bar and logo
#header
    +grid-container()
    :margin-top 20px
    #nav-content
        a
            :text-decoration none
            h1.logo-tile
                :background= "transparent" !image_icon_logo "scroll no-repeat 0 0"
                :float left
                :margin-right 0.5em
                :margin-left 0.5em
                :margin-bottom 1.5em
                :padding-left 80px
                :width 300px
                :height 80px
        .navlinks
            :margin-top 20px
            li
                +display-inline-block
                :margin-right 20px
                :padding-top 30px
                #nav_about
                    +align-nav-icon()
                    :background= "transparent" !image_about_icon "scroll no-repeat 0 0"
                #nav_blog
                    +align-nav-icon()
                    :background= "transparent" !image_blog_icon "scroll no-repeat 0 0"
                #nav_students_corner
                    +align-nav-icon()
                    :background= "transparent" !image_student_icon "scroll no-repeat 0 0"
                #nav_photos
                    +align-nav-icon()
                    :background= "transparent" !image_photos_icon "scroll no-repeat 0 0"
                #nav_announcements
                    +align-nav-icon()
                    :background= "transparent" !image_announcement_icon "scroll no-repeat 0 0"
                #nav_sponsors
                    +align-nav-icon()
                    :background= "transparent" !image_sponsor_icon "scroll no-repeat 0 0"
                #nav_logout
                    +align-nav-icon()
                    :background= "transparent" !image_logout_icon "scroll no-repeat 0 0"

div.two-column-layout
    +grid-container()
    .left-column
        +grid(9,16)
        :float left
    .right-column
        +grid(6,16)
        :float left
        :margin-top 80px
        :padding-left 50px

//About Page

.about-content
    :float left
    :clear both
    :width 600px
    h1
        :font-family = !font_stack_helvetica_ultralight
        :font-weight normal
        :font-size 2.6em
        :line-height 1.5
        :letter-spacing 0em
    h2
        :color #000000
        :font-size 1.6em
        :font-weight normal
        :line-height 1.5
        :margin-top 1.4em
    img
        border: 6px solid white
        +box-shadow(1px 1px 8px #444)
        
#alumni_photos
    :float left
    :width 350px
    
#item_numbers
    :margin 20px 0px 0px 10px
    li
        +display-inline-block
        :margin-right 10px
        a
            :background-color #104E8B
            :padding 5px 10px
            :color white
            :border 1px solid silver
        a:hover
            :background-color #033d79
        a.current
            :background-color #3477bc
            :border 1px solid #033d79

#items
    :width 2000px
    li
        :display none
        :min-height 300px
        :float left
        img
            :height 300px
            :width 300px
            :margin 10px
            :border 4px solid white
            +box-shadow(1px 1px 8px #444)            
            
// Sponsors page

.definitions
    li
        :clear both
        :margin-bottom 10px
        :width 700px
        .logo
            :display block
            :margin 0 20px 10px 0
            :width 200px
            :height 200px
            :border 6px solid white
            +box-shadow(1px 1px 8px #444)
            :float left
        #happychickoo
            :background = transparent !image_icons_happychockoo_200x200 no-repeat scroll 0px 0px
        #hypercity
            :background = transparent !image_icons_hypercity_200x200 no-repeat scroll 0px 0px
        #bizstream
            :background = transparent !image_icons_bizstream_200x200 no-repeat scroll 0px 0px

#tabs
    :margin-left 10px
    > li
        +display-inline-block
        > a
            +awesome-button()            
            :padding 10px
            :margin-right 10px
            :letter-spacing 1px

#panes
    > li
        +border-radius(10px)
        :display none
        :margin-bottom 10px
        :padding 20px
        ul
            >li
                :margin-top 15px
                
h1.bird-eye-view
    :font-family = !font_stack_helvetica_ultralight
    :font-weight normal
    :font-size 2em
    :line-height 1.5
    :letter-spacing 0em
    em
        :font-style italic 

//Admin page styling TODO: move this to admin.sass
section > div > h1
    :font-family= !font_stack_helvetica
    :font-size 1.9em
    :font-weight bold
    :color black
    :line-height 1.4
    :letter-spacing -0.03em
section > div > h2c
    :font-family= !font_stack_helvetica
    :font-size 1em
    :font-weight normal
    :line-height 1.2
    :color gray
    :margin-bottom 30px

#admin-header-content
    :background-color #00131E
    :color #337799
    :min-height 40px
    ul
        :width 960px
        :margin 0px auto
        :font-variant small-caps
        li
            :line-height 1.5
            :float right

#admin_wrapper
    :font-family= !font_family_serif
    :color = !color_admin_bg_wrapper

#notification
    :opacity 0.8
    :width 500px
    :min-height 50px
    :background-color = !color_admin_bg_notification
    :display none

#admin_header
    :background-color = !color_admin_bg_header
    :color = !color_admin_header
    :min-height 40px
    ul
        :width 960px
        :margin 0px auto
        :font-variant small-caps
        li
            :line-height 1.5
            :float right
            
#admin_wrapper > #nav
    :padding-top 40px
    :background-color = !color_admin_bg
    :border-bottom 1px solid !color_admin_nav_border
    >ul
        +grid-container()
        >li
            +display-inline-block()
            //:margin-right 5px
            :font-family= !font_family_sans_serif
            :font-size 0.9em
            >a, >a:link, >a:visited
                +awesome-top-tab()
                :font-weight bold
                :color= !color_white

#admin-trunk
    :padding 10px
    :border-top 1px solid white
    :border-bottom 1px solid #c6d9e9
    :background-color #ddeef6
    :min-height 35em
    div
        :width 960px
        :margin 0px auto

#admin-trunk-content
    > h1
        :text-transform capitalize
    > h2
        :line-height 1.5em
        :font-size 1.1em

#adminfooter
    :min-height 100px
    :width 960px
    :margin 40px auto
    :color #666
    > nav
        :border-top 1px solid #dedede
        > ul
            >li
                :margin-left 10px
                :font-family= !font_family_sans_serif
                :font-size 0.8em
                +display-inline-block()
.data-list
    +accordion
    
a.star
    :background= "transparent" !url_star_icon "no-repeat scroll 0 0"
    :display block
    :width 16px
    :height 16px
    :float left
    :margin-right 8px
a.star:link, a.star:visited
    :background-position 0 0
a.star:hover, a.star:visited:hover
    :background-position 0 -16px
    
a.unstar
    :background= "transparent" !url_star_icon "no-repeat scroll 0 -32px"
    :display block
    :width 16px
    :height 16px
    :float left
    :margin-right 8px
a.unstar:hover, a.unstar:visited:hover
    :background-position 0 -48px

div.info
    :font-family= !font_stack_verdana
    :min-height 300px    
    h2, h3
        :font-size 1.2em
        :font-weight bold
        :line-height 1.4
    h3
        :font-size 1em
