//@import awesome-form.sass
@import openid.sass
@import prettyPhoto.sass

@import base.sass

//align nav icons
=align-nav-icon()
    :display block
    :width 50px
    :height 50px



body
    :background= "transparent" !image_background "scroll repeat-x 0 0"
    :line-height 1.4
    :font-family= !font_stack_georgia


a
    :color= !color_link
    :text-decoration none
    &:hover, &:visited:hover
        :color= !color_link_hover

        
blockquote
    :font-size 1.6em
    :font-style italic
    :padding 10px 30px 0px
    :color = !color_blockquote
    :line-height 1.5em
        
h1
    :font-family= !font_stack_myriad_pro
    :font-size 2.4em
    :color= !color_title
    :letter-spacing -0.03em
    :line-height 1.1
    strong
        :font-family= !font_stack_georgia
        :font-size 0.7em
        :font-style italic
        :color= !color_subtitle
        :display block

h2
    :font-family= !font_stack_myriad_pro
    :line-height 1.4
    :font-size 1.6em
    :margin-bottom 0.2em


h3
    :font-family= !font_stack_myriad_pro
    :font-size 1.1em
    :font-weight bold
    :color= !color_heading
    :margin-botton 0.2em


p
    :color= !color_light_body_text
    :line-height 1.4
    :margin-bottom 1em

form.decorated-fields
    :font-family= !font_family_sans_serif
    :font-size 0.9em
    input[type="text"]
        :width 220px
    span.prefix
        :font-weight bold
        :color #555
        em
            :font-weight normal
            :color #666
    label
        :font-family= !font_family_sans_serif
    legend
        :font-family= !font_stack_myriad_pro
        :font-size 1.4em
        :padding-left 210px
        :color= !color_awesome_magenta
    fieldset
        :margin-top 1.4em


a.signin
    :display block

.title .icon.logo
    :display block
    :background= "transparent" !image_icon_logo "scroll no-repeat 0 0"
    :float left
    :margin-right 0.5em
    :margin-left 0.5em
    :width 80px
    :height 80px

.icon
    :display block
.icon.size-20x20
    :width 20px
    :height 20px
    :background= "transparent" !image_icons_20x20 "scroll no-repeat 0 0"
.icon.size-20x20.about
    :background-position= -(20px * 0) 0
.icon.size-20x20.logo
    :background-position= -(20px * 1) 0
.icon.size-20x20.picture
    :background-position= -(20px * 2) 0
.icon.size-20x20.video
    :background-position= -(20px * 3) 0
//.icon.size-128x128
    :width 128px
    :height 128px
    :background= "transparent" !image_icons_128x128 "scroll no-repeat 0 0"
//.icon.size-128x128.calendar
    :background-position= -(128px * 0) 0
//.icon.size-128x128.search-user
    :background-position= -(128px * 1) 0
//.icon.size-128x128.write-blog
    :background-position= -(128px * 2) 0
//.icon.size-128x128.suitcase
    :background-position= -(128px * 3) 0
.icon.size-64x64
    :width 64px
    :height 64px
    :background= "transparent" !image_icons_64x64 "scroll no-repeat 0 0"
.icon.size-64x64.calendar
    :background-position= -(64px * 0) 0
.icon.size-64x64.search-user
    :background-position= -(64px * 1) 0
.icon.size-64x64.write-blog
    :background-position= -(64px * 2) 0
.icon.size-64x64.suitcase
    :background-position= -(64px * 3) 0

.content-box
    +box-shadow("0 0 3px #888")
    +border-radius("5px")
    :background-color rgba(255,255,255,0.8)
    :padding 2.4em 1.4em

#presentation
    :clear both
    :margin-top 2em
    #presentation-content
        :background= "transparent" !image_presentation_box "scroll no-repeat 0 0"
        +grid(8, 12)
        ul.panes
            :height 340px
            li
                :position relative
                :z-index 40
                //:background-color rgba(255,255,255,0.5)
                :padding 30px 40px
                :display none
                //:border 10px solid rgba(0,0,0,0.5)
    #presentation-sidebar
        +grid(4, 12)
        ul.tabs
            :margin-left -30px
            li
                :font-family= !font_stack_myriad_pro
                a
                    :background-color rgba(255,255,255,0.5)
                    :display block
                    :padding 0.7em 1em
                    :text-decoration none
                    :color black
                    span.icon
                        :float left
                        :margin-right 0.5em
                a:hover, a:visited:hover
                    :text-decoration none
                    :background-color #859eaa
                    :color white
                a.current, a.current:hover, a.current:visited:hover
                    :color white
                    :background-color #556e7a


#trunk-content, #footer-content
    +grid-container()


#header, #trunk, #footer
    :clear both

#header
    :min-height 20px

#footer
    :padding-top 40px
    :display block


#footer-content
    :font-size 0.9em
    :color= !color_footer_content

// Landing page
#feature-list
    :clear both
    :margin-top 1em
    li
        :text-align center
        :font-size 0.9em
        :color= !color_light_body_text
        +grid(3, 12)
        span.icon
            :margin 0px auto
    li:first-child
        +alpha
    li:last-child
        +omega

#alumni-name
    :clear both
    :margin-top 1em

#fieldset_personal, #fieldset_work_profile, #fieldset_mailing_address
    :display none
    
    
// Nav bar and logo
#header
    +grid-container()
    :margin-top 20px
    #nav-content
        a
            :text-decoration none
            h1.logo-tile
                :background= "transparent" !image_icon_logo "scroll no-repeat 0 0"
                :float left
                :margin-right 0.5em
                :margin-left 0.5em
                :margin-bottom 1.5em
                :padding-left 80px
                :width 300px
                :height 80px
        .navlinks
            :margin-top 20px
            li
                +display-inline-block
                :margin-right 20px
                :padding-top 30px
                #nav_about
                    +align-nav-icon()
                    :background= "transparent" !image_about_icon "scroll no-repeat 0 0"
                #nav_blog
                    +align-nav-icon()
                    :background= "transparent" !image_blog_icon "scroll no-repeat 0 0"
                #nav_students_corner
                    +align-nav-icon()
                    :background= "transparent" !image_student_icon "scroll no-repeat 0 0"
                #nav_photos
                    +align-nav-icon()
                    :background= "transparent" !image_photos_icon "scroll no-repeat 0 0"
                #nav_announcements
                    +align-nav-icon()
                    :background= "transparent" !image_announcement_icon "scroll no-repeat 0 0"
                #nav_sponsors
                    +align-nav-icon()
                    :background= "transparent" !image_sponsor_icon "scroll no-repeat 0 0"
                #nav_logout
                    +align-nav-icon()
                    :background= "transparent" !image_logout_icon "scroll no-repeat 0 0"
