@import base.sass
@import openid.sass
@import prettyPhoto.sass

body
    :background= "transparent" !image_background "scroll repeat-x 0 0"
    :line-height 1.4
    :font-family= !font_stack_georgia


a
    :color= !color_link
    :text-decoration none
    &:hover, &:visited:hover
        :color= !color_link_hover

        
blockquote
    :font-size 1.6em
    :font-style italic
    :padding 10px 30px 0px
    :color = !color_blockquote
    :line-height 1.5em
        
h1
    :font-family= !font_stack_myriad_pro
    :font-size 2.4em
    :color= !color_title
    :letter-spacing -0.03em
    :line-height 1.1
    strong
        :font-family= !font_stack_georgia
        :font-size 0.7em
        :font-style italic
        :color= !color_subtitle
        :display block

h2
    :font-family= !font_stack_myriad_pro
    :line-height 1.4
    :font-size 1.6em
    :margin-bottom 0.2em


h3
    :font-family= !font_stack_myriad_pro
    :font-size 1.1em
    :font-weight bold
    :color= !color_heading
    :margin-botton 0.2em


p
    :color= !color_light_body_text
    :line-height 1.4
    :margin-bottom 1em


a.signin
    :display block

.title .icon.logo
    :display block
    :background= "transparent" !image_icon_logo "scroll no-repeat 0 0"
    :float left
    :margin-right 0.5em
    :margin-left 0.5em
    :width 80px
    :height 80px

.icon
    :display block
.icon.size-20x20
    :width 20px
    :height 20px
    :background= "transparent" !image_icons_20x20 "scroll no-repeat 0 0"
.icon.size-20x20.about
    :background-position= -(20px * 0) 0
.icon.size-20x20.logo
    :background-position= -(20px * 1) 0
.icon.size-20x20.picture
    :background-position= -(20px * 2) 0
.icon.size-20x20.video
    :background-position= -(20px * 3) 0
//.icon.size-128x128
    :width 128px
    :height 128px
    :background= "transparent" !image_icons_128x128 "scroll no-repeat 0 0"
//.icon.size-128x128.calendar
    :background-position= -(128px * 0) 0
//.icon.size-128x128.search-user
    :background-position= -(128px * 1) 0
//.icon.size-128x128.write-blog
    :background-position= -(128px * 2) 0
//.icon.size-128x128.suitcase
    :background-position= -(128px * 3) 0
.icon.size-64x64
    :width 64px
    :height 64px
    :background= "transparent" !image_icons_64x64 "scroll no-repeat 0 0"
.icon.size-64x64.calendar
    :background-position= -(64px * 0) 0
.icon.size-64x64.search-user
    :background-position= -(64px * 1) 0
.icon.size-64x64.write-blog
    :background-position= -(64px * 2) 0
.icon.size-64x64.suitcase
    :background-position= -(64px * 3) 0


#presentation
    :clear both
    :margin-top 2em
    #presentation-content
        :background= "transparent" !image_presentation_box "scroll no-repeat 0 0"
        +grid(8, 12)
        ul.panes
            :height 340px
            li
                :position relative
                :z-index 40
                //:background-color rgba(255,255,255,0.5)
                :padding 30px 40px
                :display none
                //:border 10px solid rgba(0,0,0,0.5)
    #presentation-sidebar
        +grid(4, 12)
        ul.tabs
            :margin-left -30px
            li
                :font-family= !font_stack_myriad_pro
                a
                    :background-color rgba(255,255,255,0.5)
                    :display block
                    :padding 0.7em 1em
                    :text-decoration none
                    :color black
                    span.icon
                        :float left
                        :margin-right 0.5em
                a:hover, a:visited:hover
                    :text-decoration none
                    :background-color #859eaa
                    :color white
                a.current, a.current:hover, a.current:visited:hover
                    :color white
                    :background-color #556e7a


#trunk-content, #footer-content
    +grid-container()


#header, #trunk, #footer
    :clear both

#header
    :min-height 20px

#footer
    :padding-top 40px
    :display block


#footer-content
    :font-size 0.9em
    :color= !color_footer_content

// Landing page
#feature-list
    :clear both
    :margin-top 1em
    li
        :text-align center
        :font-size 0.9em
        :color= !color_light_body_text
        +grid(3, 12)
        span.icon
            :margin 0px auto
    li:first-child
        +alpha
    li:last-child
        +omega

#alumni-name
    :clear both
    :margin-top 1em


