{% extends "base_site.html" %}

{% block tag_head %}
    <meta name="keywords" content="maths-school, activation, product activation, deactivation, deinstallation, payment" />
    <meta name="description" content="{{ OWNER_NAME }}" />
    {% block tag_stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/screen-all{{ CSS_MINIFIED }}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6{{CSS_MINIFIED}}.css" type="text/css" media="screen,projection" charset="utf-8" />
    <![endif]-->
	{% end %}
	{% block tag_additional_stylesheets %}{% end %}
{% end %}

{% block tag_body %}
	{% block tag_wrapper %}
	<div id="admin_wrapper">
		{% block tag_wrapper_content %}
		{% block tag_header %}
		<div id="admin_header">
            <div id="header-content">		     
            {% block tag_header_content %}
                <ul>
                    <li><a href="/admin/logout">Logout</a></li>
                </ul>

                <div id="notification">
                  <h1 id="notification-title">Saving information</h1>
                  <div id="notification-content">
                    <p>Please wait while we synchronize information with the servers...</p>
                  </div>
                </div>
            {% end %}
            {% block tag_header_additional_content %}
            {% end %}	
            </div>	
        </div>  
		{% end %}
        {% block tag_nav %}
            <div id="nav">
            {% block tag_nav_content %}
            {% end %}
            </div>
        {% end %}
	    {% block tag_section %}
        <section id="admin-trunk">
            <div id="admin-trunk_content">
            {% block tag_section_content %}
            {% end %}
            </div>
        </section>
        {% end %}
        {% block tag_footer %}
        <footer>
            {% block tag_footer_content %}
            {% end %}
            <nav>
                <ul>
                    <li>Copyright &copy; 2009 happychickoo.</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/admin/">Admin</a></li>
                    <li><a href="mailto:support@happychickoo.com">Report a Problem</a></li>
                </ul>
            </nav>
        </footer>
        {% end %}
    
	{% end %}
	</div>
	{% end %}
{% end %}
{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = ["{{ JQUERY_URL }}" #*, 
{% if LOCAL %}
"{{ TEXT_MEDIA_URL }}script/lib/chickoojs/src/jquery/tools/1.1.2/jquery.tools.min.js"
{% else %}
"http://cdn.jquerytools.org/1.1.2/full/jquery.tools.min.js"
{% end %}*#
];
</script>

{% end %}
