{% extends "adminindex.html" %}

{% block tag_section_content %}
<h1>{{ page_name }}</h1>
<h2>Approving, editing, and sending messages to users is easy.  Just click on a name to perform any of these operations.</h2>

#*<a class="awesome-button {{ page_name }}" rel="new" href="/api/{{ page_name }}/new">+ Add new</a>*#

<div id="new-item"></div>
<ul id="data-list" class="data-list accordion">
{% for user in total_user %}
    <li class="user-card">
        <h1 class="user-card starred unapproved deleted">
            {% if user.is_deleted %}
            <span class="title">{{ user.username }} ({{ user.auth_provider }})</span>
            {% elif user.is_starred%}
            {{ user.username }} ({{ user.auth_provider }})
            <span class="tags"><a href="#starred">important</a></span>
            {% else %}
            {{ user.username }} ({{ user.auth_provider }})
            {% end %}
            
            {% if not user.is_active %}<span class="tags"><a href="#unapproved">not approved</a></span>{% end %}
            <span class="actions">
                {% if user.is_starred %}
                <a rel="default" href="/admin/unstar/{{ user.key() }}" class="unstar"></a>
                {% else %}
                <a rel="default" href="/admin/star/{{ user.key() }}" class="star"></a>
                {% end %}
                {% if not user.is_active %}
                <a rel="default" href="/admin/approve/{{ user.key() }}" class="awesome-button"><span class="symbol">&#10004;</span> Approve</a>
                {% end %}
                {% if user.is_active %}
                <a rel="default" href="/admin/unapprove/{{ user.key() }}" class="awesome-button"><span class="symbol">&#10004;</span> Unapprove</a>
                {% end %}
                <a class="editprofile awesome-button" rel="default" href="#edit-profile" ><span class="symbol">&minus;</span> Edit Profile</a>
                {% if not user.is_deleted %}
                <a rel="default" href="/admin/delete/{{ user.key() }}" class="awesome-button"><span class="symbol">&times;</span> Delete</a>
                {% end %}
                {% if user.is_deleted %}
                <a rel="default" href="/admin/undelete/{{ user.key() }}" class="awesome-button"><span class="symbol">&times;</span> Undelete</a>
                {% end %}
            </span>
        </h1>
        <div class="info">email: {{ user. email}}</div>
    </li>
{% end %}
</ul>

{% end %}

{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = [];
</script>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
