{% extends "adminindex.html" %}

{% block tag_section_content %}
<h1>{{ page_name }}</h1>
<h2>Approving, editing, and sending messages to users is easy.  Just click on a name to perform any of these operations.</h2>

#*<a class="awesome-button {{ page_name }}" rel="new" href="/api/{{ page_name }}/new">+ Add new</a>*#

<div id="new-item"></div>
<ul id="data-list" class="data-list accordion">
{% for user in total_user %}
    <li class="user-card">
        <h1 class="user-card starred unapproved deleted">
            {% if user.is_deleted %}
            <span class="title">{{ user.username }} ({{ user.auth_provider }})</span>
            {% elif user.is_starred%}
            {{ user.username }} ({{ user.auth_provider }})
            <span class="tags"><a href="#starred">important</a></span>
            {% else %}
            {{ user.username }} ({{ user.auth_provider }})
            {% end %}
            
            {% if not user.is_active %}<span class="tags"><a href="#unapproved">not approved</a></span>{% end %}
            <span class="actions">
                {% if user.is_starred %}
                <a rel="default" href="/admin/unstar/{{ user.key() }}" class="unstar"></a>
                {% else %}
                <a rel="default" href="/admin/star/{{ user.key() }}" class="star"></a>
                {% end %}
                {% if not user.is_active %}
                <a rel="default" href="/admin/approve/{{ user.key() }}" class="awesome-button"><span class="symbol">&#10004;</span> Approve</a>
                {% end %}
                {% if user.is_active %}
                <a rel="default" href="/admin/unapprove/{{ user.key() }}" class="awesome-button"><span class="symbol">&#10004;</span> Unapprove</a>
                {% end %}
                <a class="editprofile awesome-button" rel="default" href="#edit-profile" ><span class="symbol">&minus;</span> Edit Profile</a>
                {% if not user.is_deleted %}
                <a rel="default" href="/admin/delete/{{ user.key() }}" class="awesome-button"><span class="symbol">&times;</span> Delete</a>
                {% end %}
                {% if user.is_deleted %}
                <a rel="default" href="/admin/undelete/{{ user.key() }}" class="awesome-button"><span class="symbol">&times;</span> Undelete</a>
                {% end %}
            </span>
        </h1>
        <div class="info">
            <form id="{{ user.key() }}" name="{{ user.key() }}" class="decorated-fields tabular" method="post" action="admin/edit/{{ user.key() }}">
                {% for person in user.people_singleton %}
                <label for="first_name">
                    <span class="prefix">first name</span>
                    <input type="text" name="first_name" value="{{ person.first_name }}" />
                    <span class="suffix"></span>
                </label>  
                <label for="last_name">
                    <span class="prefix">last name</span>
                    <input type="text" name="last_name" value="{{ person.last_name }}" />
                    <span class="suffix"></span>
                </label>
                {% end %}
                <label for="email">
                    <span class="prefix">email</span>
                    <input type="text" name="email" value="{{ user.email }}" />
                    <span class="suffix"><strong>{{ user.signin_email }}</strong> via <strong>{{ user.auth_provider }}</strong> (OpenID: {{ user.identifier }})</span>
                </label>
                <label for="corporate_email">
                    <span class="prefix">corporate email</span>
                    <input type="text" name="corporate_email" 
                        value="{% if user.corporate_email == "" %}None{% else %}{{ user.corporate_email }}{% end %}" />
                    <span class="suffix"></span>
                </label>
                {% for person in user.people_singleton %}
                <label for="company">
                    <span class="prefix">company</span>
                    <input type="text" name="company" value="{% if person.company == "" %}None{% else %}{{ person.company }}{% end %}" />
                    <span class="suffix"></span>
                </label>
                
                <input type="hidden" name="phone_count" value="{{ person.phones.count() }}" />
                {% for phone in person.phones %}
                <label for="phone_{{ phone.key() }}">
                    <span class="prefix">phone</span>
                    <input type="text" name="{{ phone.key() }}" value="{{ phone.number }}" />
                    <span class="suffix"></span>
                </label>
                {% end %}
                
                <label for="designation">
                    <span class="prefix">designation</span>
                    <input type="text" name="designation" value="{{ person.designation }}" />
                    <span class="suffix"></span>
                </label>   
                 
                <label for="graduation_year">
                    <span class="prefix">graduation year</span>
                    <select name="graduation_year">
                    {% for year in mils_year_list %}
                      <option value="{{ year }}" {% if year == person.graduation_year %}selected="selected"{% end %}>{{ year }}</option>
                    {% end %}
                    </select>
                    <span class="suffix"></span>
                </label> 
                
                <label for="is_student">
                    <span class="prefix="></span>
                    <input type="radio" name="is_student" value="yes" {% if person.is_student %}checked="checked"{% end %} >Is student?</input>
                    <span class="suffix"></span>
                </label>
                <label for="is_student">
                    <span class="prefix="></span>
                    <input type="radio" name="is_student" value="no" {% if not person.is_student %}checked="checked"{% end %} >Is not a student?</input>  
                    <span class="suffix"></span>
                </label>
                
                <label for="gender">
                    <span class="prefix">gender</span>
                    <select name="gender">
                    {% for gender_choice in gender_choices %}
                      <option value="{{ gender_choice }}" {% if gender_choice == person.gender %}selected="selected"{% end %}>{{ gender_choice }}</option>
                    {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
                
                #*
                TODO: Birthday date manupulation
                <label for="birthdate">
                    <span class="prefix">birthdate</span>
                    <select name="birthdate_day">
                      {% for day in range(1, 32) %}
                          <option value="{{ day }}" {% if day == birthdate_day %}selected="selected"{% endif %}>{{ day }}</option>
                      {% endfor %}
                    </select>
                    <select name="birthdate_month">
                      {% for month in month_list %}
                          <option value="{{ loop.index }}" {% if loop.index == birthdate_month %}selected="selected"{% endif %}>{{ month }}</option>
                      {% endfor %}
                    </select>
                    <select name="birthdate_year">
                      {% for year in year_list %}
                          <option value="{{ year }}" {% if year == birthdate_year %}selected="selected"{% endif %}>{{ year }}</option>
                      {% endfor %}
                    </select>
                    <span class="suffix"></span>
                </label>
                *#
                
                <label for="t_shirt_size">
                    <span class="prefix">t-shirt size</span>
                    <select name="t_shirt_size">
                      {% for size in t_shirt_sizes %}
                          <option value="{{ size[0] }}" {% if size[0] == person.t_shirt_size %}selected="selected"{% end %}>{{ size[1] }}</option>
                      {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
                {% end %}
                <label for="submit">
                    <input type="submit" class="awesome-button" name="save" value="Save &raquo;" />
                </label>
            </form>
        </div>
    </li>
{% end %}
</ul>

{% end %}

{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = [];
</script>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
