{% extends "base.html" %}

{% block tag_trunk_content %}
<h1 class="title">A neat hang-out for all MILS Alumni.<strong>Meet up with your long-lost batchmates today!</strong></h1>

<a href="{{ login_url }}">Sign in</a>

<ul id="feature-list">
    <li>
        <img src="{{ MEDIA_URL }}image/icon/128x128/calendar.png" />
        <h3>Training events</h3>
        <p>All round the year we hold training events that you can attend and level-up your skills. Training is provided by top-notch industry experts.</p>
    </li>
    <li>
        <img src="{{ MEDIA_URL }}image/icon/128x128/search-user.png" />
        <h3>Find batchmates</h3>
        <p>Getting in touch with them is now as easy as pie.  With our new batch-explorer you can find and send messages to your friends in a cinch.</p>
    </li>
    <li>
        <img src="{{ MEDIA_URL }}image/icon/128x128/write-blog.png" />
        <h3>Publish your thoughts</h3>
        <p>To make it easier to find content related to our field, we have made available writing space where you can contribute articles to share with everyone.</p>
    </li>
    <li>
        <img src="{{ MEDIA_URL }}image/icon/128x128/suitcase.png" />
        <h3>Find and post vacancies</h3>
        <p>Given the employment scenario we think we can help out our alumni with job opportunities.</p>
    </li>
</ul>
{% end %}

{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = [];
</script>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
