{% extends "base.html" %}
#* overridden *#
{% block tag_nav_content %}
{% end %}

{% block tag_header_additional_content %}
{% end %}	

{% block tag_trunk_content %}
<h1 class="title"><a href="/" class="icon size-128x128 logo"></a>A neat hang-out for all MILS Alumni.<strong>Meet up with your long-lost batchmates today!</strong></h1>

<ul id="presentation">
    <li id="presentation-content">
        <ul class="panes">
            <li id="why_milsalumni_dot_org">
                <h3>Why milsalumni.org?</h3>
                <p>We needed a place which could unite all of us alumni and most of all help us find our old friends wherever they may be in the world.</p>
                <p>The social Web has given us a platform to bring together people through technology, connect and share cherishable moments of light-hearted fun.  Technology now also enables us to connect with our alumni and help out within our industry by providing resources and support.</p>
                <p>Welcome to your special place on the Web.</p>
            </li>
            <li id="our_logo">
                <p><img src="{{ MEDIA_URL }}image/logo-meaning.png" /></p>
                #*<p>Brotherhood and unity&mdash;that is what the logo means.</p>
                <p>It symbolizes the unison of people spread across various cultures, workplaces, and the subdivisions of our field to form an alumni community. The logo also symbolizes our belongingness to our beloved institute&mdash;MILS.</p>*#
            </li>
            <li id="our_achievements">
                <h3>Achievements</h3>
            </li>
            #*<li id="current_undertakings">
                <h3>Current undertakings</h3>
            </li>*#
            <li id="watch_video">
                <h3>Click to play</h3>
            </li>
        </ul>
    </li>
    <li id="presentation-sidebar">
        <a href="{{ login_url }}" class="signin"><img src="{{ MEDIA_URL }}image/button/signin.png" width="281px" height="147px" /></a>
        <ul class="tabs">
            <li><a href="#why_milsalumni_dot_org"><span class="icon size-20x20 about"></span>Why milsalumni.org?</a></li>
            <li><a href="#our_logo"><span class="icon size-20x20 logo"></span>The meaning of our logo</a></li>
            <li><a href="#our_achievements"><span class="icon size-20x20 picture"></span>Achievements</a></li>
            #*<li><a href="#current_undertakings">Current undertakings</a></li>*#
            <li><a href="#watch_video"><span class="icon size-20x20 video"></span>Watch video</a></li>
        </ul>
    </li>
</ul>


<ul id="feature-list">
    <li>
        <span class="icon size-128x128 calendar"></span>
        <h3>Training events</h3>
        <p>All round the year we hold training events that you can attend and level-up your skills. Training is provided by top-notch industry experts.</p>
    </li>
    <li>
        <span class="icon size-128x128 search-user"></span>
        <h3>Find batchmates</h3>
        <p>Getting in touch with them is now as easy as pie.  With our new batch-explorer you can find and send messages to your friends in a cinch.</p>
    </li>
    <li>
        <span class="icon size-128x128 write-blog"></span>
        <h3>Publish your thoughts</h3>
        <p>To make it easier to find content related to our field, we have made available writing space where you can contribute articles to share with everyone.</p>
    </li>
    <li>
        <span class="icon size-128x128 suitcase"></span>
        <h3>Find and post vacancies</h3>
        <p>Given the employment scenario we think we can help out our alumni with job opportunities.</p>
    </li>
</ul>

<div id="alumni-name">
<h3>Late Narayan Meghaji Lokhande Maharashtra Institute of Labour Studies</h3>
<p><address>D C Road, Parel, Mumbai, MH 400012, India.</address>  Tel: <tt>022-24135332</tt>, Fax: <tt>2413 3035</tt>.</p>
</div>

{% end %}

{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = [];
</script>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
