{% extends "base.html" %}

{% block tag_trunk_content %}
<h1 class="title"><span class="icon size-128x128 logo"></span>A neat hang-out for all MILS Alumni.<strong>Meet up with your long-lost batchmates today!</strong></h1>

<ul id="presentation">
    <li class="presentation-box">
        <h2>Why milsalumni.org?</h2>
        <p>Whatever dude.</p>
    </li>
    <li>
        <a href="{{ login_url }}" class="signin"><img src="{{ MEDIA_URL }}image/button/start.png" width="281px" height="84px" /></a>
    </li>
</ul>


<ul id="feature-list">
    <li>
        <span class="icon size-128x128 calendar"></span>
        <h3>Training events</h3>
        <p>All round the year we hold training events that you can attend and level-up your skills. Training is provided by top-notch industry experts.</p>
    </li>
    <li>
        <span class="icon size-128x128 search-user"></span>
        <h3>Find batchmates</h3>
        <p>Getting in touch with them is now as easy as pie.  With our new batch-explorer you can find and send messages to your friends in a cinch.</p>
    </li>
    <li>
        <span class="icon size-128x128 write-blog"></span>
        <h3>Publish your thoughts</h3>
        <p>To make it easier to find content related to our field, we have made available writing space where you can contribute articles to share with everyone.</p>
    </li>
    <li>
        <span class="icon size-128x128 suitcase"></span>
        <h3>Find and post vacancies</h3>
        <p>Given the employment scenario we think we can help out our alumni with job opportunities.</p>
    </li>
</ul>
{% end %}

{% block tag_scripts_base %}
<script type="text/javascript">
window.__hc_scripts = [];
</script>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
