{% extends "base.html" %}

{% block tag_trunk_content %}
    <div class="content-box">
        <h1>Tell us about yourself</h1>
        <form id="form-register" class="decorated-fields tabular" method="post" action="">
            <input type="hidden" name="openid_url" value="{{ federated_identity }}" readonly="readonly" />
            
            <fieldset id="fieldset_contact">
                <legend>Contact</legend>
                <label for="email">
                    <span class="prefix">email<em>personal email</em></span>
                    <input type="text" id="email" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="phone">
                    <span class="prefix">phone<em>e.g. your mobile number</em></span>
                    <input type="text" id="phone" />
                    <select id="phone_type">
                    {% for value, display in phone_types %}
                        <option value="{{ value }}" {% if default_phone_type == value %}selected="selected"{% end %}>{{ display }}</option>
                    {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
            </fieldset>
            <fieldset id="fieldset_personal">
                <legend>Personal</legend>
                <label for="first_name">
                    <span class="prefix">full name<em>first and last names</em></span>
                    <input type="text" id="first_name" value="" placeholder="First Name" />
                    <input type="text" id="last_name" value="" placeholder="Last Name" />
                    <span class="suffix"></span>
                </label>
                <label for="birthdate">
                    <span class="prefix">birthdate<em>let the world greet you</em></span>
                    <input type="text" id="birthdate" value="" placeholder="DD-MM-YYYY" />
                    <span class="suffix">e.g. 02-10-1990 for October 2, 1990</span>
                </label>                
                <label for="gender">
                    <span class="prefix">gender<em>to address you</em></span>
                    <select id="gender">
                        {% for value, display in gender_choices %}
                        <option value="{{ value }}">{{ display }}</option>
                        {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
                <label for="t_shirt_size">
                    <span class="prefix">t-shirt size<em>to win a t-shirt!</em></span>
                    <select id="t_shirt_size">
                        {% for value, display in t_shirt_sizes %}
                        <option value="{{ value }}">{{ display }}</option>
                        {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
            </fieldset>
            <fieldset id="fieldset_work_profile">
                <legend>Work Profile</legend>
                <label for="corporate_email">
                    <span class="prefix">corporate email<em>work email</em></span>
                    <input type="text" id="corporate_email" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="company">
                    <span class="prefix">company<em>current workplace</em></span>
                    <input type="text" id="company" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="designation">
                    <span class="prefix">designation<em>current designation at work</em></span>
                    <input type="text" id="designation" value="" />
                    <span class="suffix"></span>
                </label>
            </fieldset>
            <fieldset id="fieldset_mailing_address">
                <legend>Mailing Address</legend>
                <label for="apartment">
                    <span class="prefix">apartment<em>or building</em></span>
                    <input type="text" id="apartment" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="street_name">
                    <span class="prefix">street name<em>road/street address</em></span>
                    <input type="text" id="street_name" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="landmark">
                    <span class="prefix">landmark<em>nearest prominent landmark</em></span>
                    <input type="text" id="landmark" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="country_code">
                    <span class="prefix">country<em></em></span>
                    <select id="country_code">
                    {% for country in countries_list %}
                        <option value="{{ country[2] }}" {% if default_country_code == country[2] %}selected="selected"{% end %}>{{ country[0] }}</option>
                    {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
                <label for="nearest_railway_line">
                    <span class="prefix">nearest railway line<em></em></span>
                    <select id="nearest_railway_line">
                    {% for value, display in railway_lines %}
                        <option value="{{ value }}" {% if default_railway_line_choice == value %}selected="selected"{% end %}>{{ display }}</option>
                    {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
                <label for="state_or_province">
                    <span class="prefix">state<em>or province</em></span>
                    <input type="text" id="state_or_province" value="" />
                    <span class="suffix"></span>
                </label>                
                <label for="city">
                    <span class="prefix">city</span>
                    <input type="text" id="city" value="" />
                    <span class="suffix"></span>
                </label>
                <label for="timezone">
                    <span class="prefix">timezone</span>
                    <select id="timezone">
                    {% for timezone in timezones %}
                        <option value="{{ timezone }}">{{ timezone }}</option>
                    {% end %}
                    </select>
                    <span class="suffix"></span>
                </label>
            </fieldset>

            <label for="submit">
                <input type="submit" class="awesome-button large" name="register" value="Continue &raquo;" />
            </label>
        </form>
    </div>
{% end %}

{% block tag_scripts %}<script type="text/javascript">$SELECTOR_SCRIPT</script>{% end %}
